/* reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general rules for classes/elements */
.nav-icons li {
  list-style-type: none;
}

.icon {
  width: 40px;
  height: 40px;

  border: 2px dotted lightcoral;
}

.search-bar {
  width: 100px;

  border: 1px solid black;
  background-color: #eee;
}

.box-border {
  border: 2px solid blue;
  gap: 4px;
}

.fixed {
  width: 200px;
  height: 50px;
}

.grid-container > * {
  border: 2px dotted lightblue;
}

/* main container for all the page layout */
.grid-container {
  height: 100vh;

  display: grid;
  grid-template:
    "server-sidebar channel-sidebar main-view" 1fr /
    auto 200px 1fr;
}

/* first column of the .grid-container */
.server-sidebar {
  grid-area: server-sidebar;

  padding: 10px;
}

.seven-row-grid {
  display: grid;
  grid-auto-rows: auto;

  gap: 4px;
}

/* second column of the .grid-container */
.channel-sidebar {
  grid-area: channel-sidebar;
}

.four-row-grid__expand-3 {
  display: grid;
  grid-template-rows: auto 150px 1fr auto;
}

/* third column of the .grid-container */
.main-view {
  grid-area: main-view;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;

  gap: 4px;
}

.six-column-grid__expand-four {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr repeat(2, auto);

  gap: 4px;
}
